*
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body
{
    margin: 0;
}

app-gifts
{
  width:100%;
  display:block;
  margin: 3em auto;
}

nav {
  height: 60px;
  z-index: 100;
  position: relative;
}

app-navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.name {
  width: fit-content;
  margin:auto;
  font-size: 30pt;
  margin-top: 2em;
  font-weight: 600;
}

main {
  z-index: -1;
}