<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Log In | Ufund</title>
</head>
<body>
    <a routerLink="">Home</a>
    <form (ngSubmit)="signIn(userInfo)">
        <h1>Log In</h1>

            <fieldset>
                <div class="input-field">
                    <label for="email">Email</label>
                    <input 
                        type="email" 
                        name="email" 
                        id="email" 
                        placeholder="Email" 
                        [(ngModel)]="userInfo.email">
                </div>

                <div class="input-field">
                    <label for="password">Password</label>
                    <input 
                        type="password" 
                        name="password" 
                        id="password" 
                        placeholder="Password" 
                        [(ngModel)]="userInfo.password">
                </div>

                <input type="submit" value="Submit" id="submit">
            </fieldset>

        <p>
            Don't have an account? | 
            <a routerLink="/signup">Sign Up</a>
        </p>
    </form>
</body>
</html>
