<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="logo"></div>

    <div class="searchbar">
      <form method = "POST" action="page with searches">

      <input type="search" 
             name="query" 
             placeholder="Search...">

      </form>

      <div class="account-info">
        <div class="user-cart">
          <!--fill with angular-->
        </div>
        <div class="user-acc">
          <!--fill with angular-->
        </div>
        <!--fill with angular-->
      </div>
    </div>


</body>
</html>