<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
  <div class="navbar">
    <div class="logo"></div>

    <div class="searchbar">
      <form method = "POST" action="page with searches">

      <input type="search" 
             name="query" 
             placeholder="Search...">

      </form>
      </div>
      <div class="account-info">
        <div class="user-cart acc-item">
          Hello
        </div>
        <div class="user-acc acc-item">
          <a class="login" (click)="onClickAccount()">Account</a>
        </div>
      </div>

  </div>
</body>
</html>