* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
}

.navbar {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.account-info {
    display: inline-flex;
}

.acc-item {
    margin-right: 1em;
    padding: .3em;
    border-radius: 5px;
    font-size: 20px;
}
button {
    cursor: pointer;
    background-color: #ccc;
    border: none;
    border-radius: 3px;
    width: fit-content;
    padding: .25em .5em;
}

button:hover {
    background-color: #dbdada;
}

.logo {
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    padding: 5px;
    font-weight: bold;
}
