<!DOCTYPE html>
<html>
<body>

    <nav>
        <button (click)="logOut()">Log Out</button>
    </nav>
    <h1>Admin</h1>
    
    <div class="input-container">
        <div class="input-item">
            <label for="gift-name">Name</label>
            <input name="gift-name" id="gift-name" #giftName />
        </div>

        <div class="input-item">
        <label for="gift-desc">Description</label>
        <input type="text" name="gift-desc" id="gift-desc" #giftDesc />
        </div>

        <div class="input-item">
        <label for="gift-price">Price</label>
        <input type="number" step="0.01" name="gift-price" id="gift-price" #giftPrice />
        </div>

        <button (click)="addGift(giftName.value, giftDesc.value, giftPrice.value);
                      giftName.value='';
                      giftDesc.value='';
                      giftPrice.value=''">Add Gift</button>
    </div>

    <div class="list">
    <ul class="gifts">
        <li *ngFor ="let gift of gifts" class="item">
            <div class="gift">
                <a routerLink="/detail/{{gift.id}}">
                    <div class="name"><h2>{{ gift.name }}</h2><span>{{gift.price}}</span></div> 
                    <div class="description">{{ gift.description }}</div>
                </a>
                
                <button (click)="deleteGift(gift)">Delete Gift</button>
            </div>
        </li>
    </ul>
    </div>

    <router-outlet></router-outlet>
</body>
</html>
